* {
  text-transform: uppercase;
}

body {
  background-image: url('../images/bg.png');
  overflow-x: hidden;
}

h1 {
  margin-top: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.card-container>ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 60px;
  row-gap: 50px;
  justify-items: center;
  list-style: none;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success,
.failure {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 350px;
  text-transform: uppercase;
}

.success {
  color: #755e29;
  background-color: #fff3cd;
}

.failure {
  color: #DC3545;
  background-color: #f8d7da;
}

li[disabled] {
  pointer-events: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  padding: 6px;
}

.success button {
  background-color: #ffc107;
  color: forestgreen;
}

.failure button {
  background-color: #dc3545;
  color: #f8d7da;
}

.header {
  color: gold;
  background-color: rgba(0, 0, 0, 0.6);
  width: 80vw;
  padding: 20px;
  text-align: center;
}

.header>div {
  font-size: 0.8rem;
}

.footer {
  background-color: rgba(0, 0, 0, 0.6);
  height: 40px;
  width: 100vw;
}

.bar {
  color: lemonchiffon;
  height: 80px;
  width: 60%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.6);
}

.score {
  margin: 0 20px;
  font-size: 1.3rem;
}